extends layout

block content
  h1= title
  form#formAddItem(name="additem", method="post", action="/additem")
    input#inputName(type="text", placeholder="username", name="username")
    input#inputEmail(type="email", placeholder="email address", name="email")
    input#inputPhone(type="tel", placeholder="xxx-xxx-xxxx", name="phone")
    input#inputTitle(type="text", placeholder="item name", name="title")
    input#inputPrice(type="text", placeholder="asking price", name="price")
    input#inputNegotiable(type="text", placeholder="negotiable?", name="negotiable")
    textarea#textDescription(name="description", rows=20, placeholder="proudct description")
    button#btnSubmit(type="submit") submit