extends layout

block content
  br
  br
  div(class="container")
    h1= title
    form(name="additem", method="post", action="/additem")
      div(class="form-group")
        label(for="username") Username
        input(type="text", class="form-control", placeholder="Enter name", name="username" required)
      div(class="form-group")
        label(for="email") Email 
        input(type="email", class="form-control", placeholder="ex: iota@chiphi.com", name="email" required)
      div(class="form-group")
        label(for="phone") Cell
        input(type="tel", class="form-control", placeholder="ex: xxx-xxx-xxxx", name="phone" required)
      div(class="form-group")
        label(for="title") Item Name
        input(type="text", class="form-control", placeholder="Enter item name", name="title" required)
      div(class="form-group")
        label(for="price") Asking Price
        input(type="text", class="form-control", placeholder="ex: $2.50", name="price" required)
      div(class="form-group")
        label(for="negotiable") Price Negotiable?
        input(type="text", class="form-control", placeholder="Yes/No", name="negotiable" required)
      div(class="form-group")
        label(for="description") Description
        textarea(name="description", class="form-control", rows=10, placeholder="Enter description" required)
      div(class="form-group")
        button(type="submit", class="btn btn-primary") Submit